section {
    height: 300px;
    background-color: aqua;
    padding: 16px;
    text-align: center;
    color: white;
}

nav {
    height: 10px;
    background-color: blue;
    padding: 16px;
    text-align: center;
    color: white; 
}